.home {
    margin: 25px auto;
}

.home-card {
    max-width: 500px;
    height: max-content;
    margin: 30px auto;
    box-shadow: 0 0 8px grey;
    transition: .1s ease-in;
    cursor: pointer;
    border-radius: 2px;
    /*padding: 2px;*/

}

.home-card:focus,
.home-card:active {
    box-shadow: 0 0 15px grey;
}

.home-card h5 {
    padding: 10px 0 5px 5px;
}

.home-card img {
    /*padding: 2px;*/
}

/*bottom-pic-wrapper*/

.bottom-pic-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 10%;
}

/*favorite*/
.card-content i.liked {
    color: red !important;
}

.card-content i.like {
    transition: .3s ease-in;
    text-shadow: 0 0 0;
}

.card-content i.like:focus,
.card-content i.like:active {
    text-shadow: 0 0 6px red;
    color: #d63131;
}

/*number of like*/
.count-like {
    font-size: 16px;
    opacity: 0.8;
}


/*area for comment text*/
.comment-wrapper {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    border-bottom: 1px solid black;
}
.comment-wrapper .no-comment{
    text-align: center;
    opacity: .8;
    font-size: 20px;
    margin: 0 auto;
}
.comment-wrapper .comment-item {
    margin: 8px 0;
    width: 100%;

}
.comment-wrapper .comment-item .comment-name{
    font-size: 18px;
    font-weight: bold;
}

.comment-wrapper .comment-item:last-child {
    margin-bottom: 0;
}

/*comment-post*/
.comment-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.comment-post .post-comment {
    width: 15% !important;
}

.comment-post input.comment-area {
    width: 80%;
    margin-left: 10px;
}

/*for no post*/
.center.no-post {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    font-size: 30px;
    color: grey;
    opacity: .5;
    margin: 0 auto;
    padding: 50px 0;
}