/*container-user-page*/
.container-user-page {
  max-width: 550px;
  margin: 0 auto;
}

/*user image info*/
.user-top-info {
  justify-content: space-around;
  margin: 25px 0;
  flex-basis: 40%;
  border-bottom: #96969b 1px solid;
}

.image-avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

/*follow style*/
.follow-info {
  padding: 10px 0;
  justify-content: space-between;
}

.follow-info h5 {
  color: #0f92ab;
  margin: 0 5px;
  font-size: 15px;
  cursor: pointer;
}

/*gallery*/
.user-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user-gallery .gallery-item {
  width: 27%;
  padding: 3px;
  border-radius: 5px;
}

.gallery-item {
  cursor: pointer;
}

/* follow btn sytyle */
.follow-btn {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}

.btn-unfllowed {
  background-color: red !important;
  transform: rotate(180deg);
}

/* own profile view  */
.avatar-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-profile {
  cursor: pointer;
}
.avatar-wrapper:hover .upload-avatar {
  opacity: 1;
  bottom: 0;
}
.upload-avatar {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  height: 40px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  z-index: 1;
  transition: 0.3s ease;
  opacity: 0;
  cursor: pointer;
}
.upload-avatar i {
  font-size: 28px;
  color: white;
}
.upload-avatar input {
  display: none;
}
